@charset 'utf-8';

html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: rgb(30, 30, 32);
  letter-spacing: -0.05em;
}

p {
  line-height: 1.6;
}

a {
  color: rgb(30, 30, 32);
  text-decoration: none;
}

.global-nav {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
}

.local-nav {
  position: absolute;
  z-index: 11;
  top: 45px;
  left: 0;
  width: 100%;
  height: 44px;
  height: 52px;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
}

.global-nav-links,
.local-nav-links {
  display: flex;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  /* center 정렬 시, 좌우 마진 auto */
  margin: 0 auto;
}

.global-nav-links {
  justify-content: space-between;
}

.product-name {
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: bold;
}

.local-nav-item {
  margin-left: 2em;
  font-size: 0.8rem;
}

.scroll-section {
  padding-top: 50vh;
}

#scroll-section-0 h1 {
  position: relative;
  z-index: 5;
  font-size: 4rem;
  text-align: center;
}

.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35vh;
  margin: 5px 0;
  height: 3em;
  font-size: 2rem;
  opacity: 0;
  /* background-color: #c9c9c9; */
}

.main-message p {
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}

.main-message small {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}

.sticky-element {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}

.sticky-element-canvas {
  top: 0;
  height: 100vh;
}

.sticky-element-canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}

#show-scene-0 #scroll-section-0 .sticky-element,
#show-scene-1 #scroll-section-1 .sticky-element,
#show-scene-2 #scroll-section-2 .sticky-element,
#show-scene-3 #scroll-section-3 .sticky-element {
  display: block;
}

#scroll-section-2 .main-message {
  font-size: 3.5rem;
}

#scroll-section-2 .b {
  top: 10%;
  left: 40%;
}

#scroll-section-2 .c {
  top: 15%;
  left: 45%;
}

.description {
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;
  max-width: 1000px;
  margin: 0 auto;
}

.description strong {
  font-size: 3rem;
  color: rgb(30, 30, 32);
  float: left;
  margin-right: 0.2em;
}

.description-message {
  width: 50%;
  font-weight: bold;
  opacity: 0;
}

.pin {
  width: 1px;
  height: 100px;
  background-color: rgb(30, 30, 32);
}

.mid-message {
  font-size: 2rem;
  color: #888;
  padding: 0 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

.mid-message strong {
  color: rgb(30, 30, 32);
}

.canvas-caption {
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;
  max-width: 1000px;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  border-top: 1px solid #ddd;
  color: rgb(30, 30, 32);
}

@media (min-width: 1024px) {
  #scroll-section-0 h1 {
    font-size: 9vw;
  }
  .main-message {
    font-size: 4vw;
  }
  .description {
    font-size: 2rem;
  }
  .description strong {
    font-size: 6rem;
  }
  #scroll-section-2 main-message {
    font-size: 6vw;
  }
  #scroll-section-2 main-message small {
    font-size: 1.5vw;
  }
  #scroll-section-2 .b {
    top: 20%;
    left: 53%;
  }
  #scroll-section-2 .c {
    left: 55%;
  }
  .description-message {
    width: 20%;
  }
  .mid-message {
    font-size: 4vw;
  }
  .canvas-caption {
    font-size: 2rem;
  }
}
